* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	  color: #fff;
	  font-size: 12px;
  }
  /*GENERAL END*/
  
  /*UTILITIES*/
  .color-white {
	color: #fff;
  }
  
  .bold {
	font-weight: bold;
  }

  .color-grey {
	color: #999999;
  }
  
  h2 {
	font-size: 22px;
	margin-bottom: 10px;
  }
  
  h3 {
	margin-top: 10px;
	margin-bottom: 5px;
  }

	h4 {
		font-weight: 400;
		margin-bottom: 30px;
	}
	
	.margin-right15 {
		margin-right: 15px;
	}
	
	.margin-bottom30 {
		margin-bottom: 30px;
	}
	
	.border-radius50 {
		border-radius: 50%;
	}

	.xs-icon-list > img{
		scale: 0.8;
	}
	
	.flex{
		display: flex;
	}

	
	.pd-bott-10{
		padding-bottom: 10px;
		padding-left: 20px;
	}

	footer a {
		color: white;
		text-decoration: none;
	}

	span, p, img{
		cursor: pointer;
	}
	span:hover, p:hover{
		color: #1dd05d;

	}

	/*UTILITIES END*/
	
	/*LAYOUT*/
	/*GENERAL CONTAINER*/
	#container {
		width: 100%;
		display: flex;
		flex-direction: column;
		height: 100vh;
		position: relative;
	}
	/*GENERAL CONTAINER END*/
	
	/*MAIN CONTENT*/
	#main-window {
		flex-grow: 1;
		background-color: #141922;
		display: flex;
		margin-bottom: 85px;
	}
	
	/*SIDEBAR*/
	#sidebar {
		min-width: 40px;
		height: 100%;
		background-color: black;
		display: flex;
		flex-direction: column;
	}
	
	.sidebar-top {
		flex-grow: 1;
	}

	
	.sidebar-bottom img {
		scale: 0.5;
	}
	
	.sidebar-list-top{
		display: none;
		color: gray;
	}
	
	.sidebar-list-bottom{
		display: none;
	}
	#mainlogo{
		width: 215px;
		padding: 20px;
		filter: grayscale();
	}

	#mainlogo:hover {
		filter: none;
		
	}
	.sidebar-list-top img, .sb-section img{
		width: 30px;
		filter: grayscale();
	}

	.pd-bott-10 > span{
		line-height: 30px;
		margin-left: 5px;
	}

	.sidebar-title{
		font-size: 1rem;
	}

	.playlist-title.bold{
		font-size: 1rem;
		line-height: 35px;
		
	}

	.playlist-section{
		padding-top: 10px;
	}

	.sb-section a{
		padding: 3px;
		filter: invert();
	}
	.sb-section img{
		scale: 1.2;
	}

  /*SIDEBAR END*/
  
  /*CONTENT*/
  #content {
	position: relative;
	flex-grow: 1;
  }
  
  .content-top-bar {
	background-color: rgba(0, 0, 0, 0.8);
	text-align: end;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 85px;
	z-index: 1;
	display: flex;
  	justify-content: flex-end;
 	align-items: center;
}

	.upgrade-btn {
	text-decoration: none;
	margin-right: 18px;
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 1em 3em;
	color: #fff;
	}
	.upgrade-btn:hover{
		border: 2px solid #1dd05d;
		color:#1dd05d;
	}
  .scrollable {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding: 85px 15px 15px;
  }
  
  .content-menu {
	display: flex;
	justify-content: center;
	padding: 10px 0 0;
	flex-wrap: wrap;
	text-align: center;
  }
  
  .content-menu ul li {
	display: inline-block;
	padding-right: 15px;
	line-height: 50px;
  }
  
  .content-menu ul li a {
	text-decoration: none;
	color: #999999;
  }
  
  .scrollable-content {
	margin-bottom: 30px;
  }



  /*CONTENT END*/
  /*MAIN CONTENT END*/
  
  /*BOTTOM PLAYER*/
  #player {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 85px; /*DEBUG*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px 0;
	background-color: #171717;
	}
  
  /*Album Playing*/
  .album-playing-container {
	flex-basis: 30%;
	display: flex;
	flex-direction: row;
	align-items: center;
  }
  
  .album-playing-container img {
	max-width: 40px;
	margin-right: 10px;
  }
  
  .album-playing-container i {
	font-size: 16px;
  }
  
  .album-name {
	padding-right: 40px;
	display: flex;
	flex-direction: column;
  }
  
  .album-icons {
	display: flex;
	flex-direction: column;
  }
  
  .fa-heart {
	padding-right: 15px;
	padding-bottom: 5px;
  }
  /*Album Playing End*/
  
  /*Player Controller*/
  .player-controller-container {
	flex-basis: 40%;
	margin-bottom: 12px;
  }
  
  .player-controller {
	padding: 15px 0 15px;
  }
  
  .player-controller ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
  }
  
  .progressbar-and-number {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .progress-bar {
	height: 4px;
	flex-grow: 1;
	background-color: #535353;
	border-radius: 5px;
	position: relative;
	cursor: pointer;
  }
  
  .partial-bar {
	height: 4px;
	width: 25%;
	background-color: #fff;
	border-radius: 5px;
  }
  
  .progress-bar:hover::before {
	content: '';
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	bottom: -5px;
	left: 23%;
	cursor: pointer;
  }
  
  .song-progress {
	padding-right: 10px;
	font-size: 10px;
  }
  
  .song-duration {
	padding-left: 10px;
	font-size: 10px;
  }
  
  .player-controller ul li {
	display: inline;
  }
  
  #player i:hover {
	color: #1dd05d;
  }
  
  
  .fa-random,
  .fa-step-backward,
  .fa-step-forward,
  .fa-redo-alt {
	font-size: 16px;
  }
  
  .fa-play-circle {
	font-size: 28px;
  }
  /*Player Controller End*/
  
  /*Right Controller*/
  .right-controller-container {
	flex-basis: 30%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
  }
  
  .right-controller {
	display: flex;
	flex-direction: row;
  }
  
  .right-controller i {
	font-size: 12px;
  }
  
  .right-controller a {
	padding-right: 15px;
  }
  
  .right-controller-bar {
	flex-basis: 20%;
	height: 4px;
	background: #535353;
	border-radius: 2px;
	align-self: center;
	position: relative;
	cursor: pointer;
  }
  
  .right-controller-partial-bar {
	height: 4px;
	width: 25%;
	background-color: #fff;
	border-radius: 5px;
  }

  .right-controller-bar:hover::before {
	content: '';
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	bottom: -5px;
	left: 23%;
	cursor: pointer;
  }
  /*BOTTOM PLAYER END*/
  /*LAYOUT END*/

  /* ***************RESPONSIVE***************** */

  @media screen and (min-width: 768px) {
	.container{
		min-width: 700px;
	}

	#sidebar{
		width: 215px;
	}

	.xs-icon-list{
		display: none;
	}

	.sidebar-list-top, .sidebar-list-bottom{
		display: block;
	}

	.song-progress {
		padding-right: 30px;
	  }
	  
	.song-duration {
		padding-left: 30px;
	}
	.player-controller ul {
		justify-content: center;
	  }
	
	.fa-random,
  	.fa-step-backward,
  	.fa-play-circle,
  	.fa-step-forward {
	padding-right: 20px;
  }
  	.album-icons {
	flex-direction: row;
  }
  }